{% extends "base.html.twig" %}

{% block title %}Drawn Card{% endblock %}

{% block body %}
<h1>Drawn Card</h1>

<div class="card-container">
    <div class="card" style="color: {{ drawn_card.getSuitColor() }};">
        {# Visa kortets grafiska representation #}
        <p>{{ drawn_card.getGraphic() }}</p>
    </div>
</div>

<p>Remaining Cards: {{ remaining_cards }}</p>
{% endblock %}