{% extends "base.html.twig" %}

{% block title %}Drawn Cards{% endblock %}

{% block body %}
<h1>Drawn Cards</h1>

<div class="card-container">
    {% for card in drawn_cards %}
        {% if card is not null %}
            <div class="card">
                {# Visa kortets grafiska representation #}
                <p>{{ card.getGraphic() }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

<p>Remaining Cards: {{ remaining_cards }}</p>
{% endblock %}