{% extends 'base.html.twig' %}

{% block title %}Not Enough Cards{% endblock %}

{% block body %}
    <h1>Not Enough Cards</h1>
    <p>Sorry, there are not enough cards left in the deck to draw {{ number }} cards.</p>
    <p>Remaining Cards: {{ remaining_cards }}</p>
{% endblock %}