{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block body %}
<h1>Card Deck</h1>

<div class="card-container">
    {# Loopa igenom korten i den sorterade ordningen #}
    {% for card in sorted_deck %}
        <div class="card">
            {# Visa kortets grafiska representation #}
            <p>{{ card.getGraphic() }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}