{% extends "base.html.twig" %}

{% block title %}Session Contents{% endblock %}

{% block body %}
    <h1>Session Contents</h1>

    <table>
        <tr>
            <th>Suit</th>
            <th>Value</th>
        </tr>
        {% if sessionData.deck is defined %}
            {% for card in sessionData.deck.getAllCards() %}
                <tr>
                    <td>{{ card.getSuit() }}</td>
                    <td>{{ card.getValue() }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Session is empty</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}