{% extends "base.html.twig" %}

{% block title %}Shuffled Deck{% endblock %}

{% block body %}
<h1>Shuffled Deck</h1>

<div class="card-container">
    {# Loopa igenom de blandade korten #}
    {% for card in shuffled_deck %}
        <div class="card" style="color: {{ card.getSuitColor() }};">
            {# Visa kortets grafiska representation #}
            <p>{{ card.getGraphic() }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}