{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Create new Book</h1>

        <form action="{{ path('book_new') }}" method="post" enctype="multipart/form-data">
            {{ form_widget(form) }}
            <button class="btn btn-success">Save</button>
        </form>

        <a href="{{ path('book_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
{% endblock %}
