{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <h1>Report</h1>
    
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <!-- Lägg till fler länkar för andra kursmoment här -->
    </ul>
    
    <h2 id="kmom01">Kmom01</h2>
    <p>Text för kmom01...</p>

    <h2 id="kmom02">Kmom02</h2>
    <p>Text för kmom02...</p>
    <!-- Lägg till fler delar av sidan för andra kursmoment här -->

{% endblock %}