{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <h1>Report</h1>
    
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>
        <li><a href="#kmom04">Kmom04</a></li>
        <li><a href="#kmom05">Kmom05</a></li>
        <li><a href="#kmom06">Kmom06</a></li>

        <!-- Lägg till fler länkar för andra kursmoment här -->
    </ul>
    
    <h2 id="kmom01">Kmom01</h2>
    <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
    <p>Jag kände att detta var helt nytt för mig och det är mycket filer och svårt att hänga med. Känner att detta kan ta lite tid att komma in och förstå det mesta i kursen. Men tillslut fick jag iallafall ordning på det och fick kämpa ihop det. Däremot var det svåraste med att komma igång det med github. Fattade inte hur man skulle göra med det riktigt men hoppas jag fick ihop det.</p><br>

    <p>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</p>
    <p>Först och främst så behöver man skapa en klass med hjälp av nyckelordet "class" och sedan då följt av klassens namn. Sedan då används måsvingar för att definiera dess metoder och egenskaper. Du kan skapa objekt med nyckelordet "new", då skapas en instans av klassen som man sedan kan använda i sin kod. Jag känner att det viktigaste är att man förstår hur man definierar egenskaper och metoder i klasser.</p><br>

    <p>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
    <p>Jag tyckte till en början det var väldigt väldigt rörigt med en massa filer. Det var svårt att hitta och svårt att veta vart man skulle ta vägen. Men efter ett tag kommer man in i det och börja förstå vad varje fil gör osv. Men som sagt till en början var det mycket att ta in.</p><br>

    <p>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
    <p>Det var mycket text men jag kollade främst på det första "Getting Started". Det kände ju jag självklart var viktigast då allt är helt nytt. Sedan fastnade jag lite smått på "Coding Practices" för att se om det var något vettigt att ta med sig och kolla på lite olika exempel. Där fanns en massa information om allt möjligt kändes det som för min del då det är nya grejer. Så det är bra!</p><br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom01 får jag nästan säga är hur allt med git ska fungera. För det satt jag länge med för att få ihop och förstå. Men som jag skrev innan hoppas jag det lösta sig tillslut, fick iallafall fram det så som det skulle vara på mitt repo så det är bra!</p><br>


    <h2 id="kmom02">Kmom02</h2>
    <p>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</p>
    <p>Om man börjar med arv så tillåter det en klass att ärva metoder från en annan klass för att skapa hierarki kan man säga. Sedan komposition är när man bygger om större klasser med hjälp av att kombinera ihop mindre klasser. Sedan interface bestämmer en uppsättning metoder som då måste implementeras av en klass. Med trait så tillåter man återanvänding av kod genom på det sättet att man inkluderar en samling med flera metoder i olika slags klasser. Hur detta då används är att arv med "extends", interface med "interface", trait med "use" och till sist komposition genom att skapa instanser av andra klasser.</p>
    <br>

    <p>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</p>
    <p>Jag är överlag nöjd med hur jag fick ihop min uppgift med kortleken osv. Jag löste uppgiften med att utgå utifrån övningsuppgiften som vi gjorde och där efter kollade jag utifrån den koden och ändrade och såg vad som behövde ändras och läggas till. Som förbättringspotential så hade man kunnat struktuera upp klasserna ännu mer och göra det snyggare på det sättet helt klart. Men med själva resultatet är jag ändå nöjd med och kändes som att jag fick ut det jag ville av uppgiften.</p>

    <br>
    <p>Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</p>
    <p>Överlag tycker jag det är väldigt mycket och rörigt med allt ifrån filer och kod till kommandon i terminalen och git. Så det är väldigt mycket tycker jag bara. Man får gå tillbaka och kolla igen flera gånger innan man får iordning på grejer. Men jag tycker att kursen är väldigt intressant hittills och kul att kombinera ihop många programmeringsspråk och jobba med det ihop. Men det har krävts mycke tid och förståelse för och ta sig framåt som man kanske då märkt. Men jag fortsätter köra på och ger mig på kmom03!</p>

    <br>
    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom02 får bli hur man jobbar med klasser osv i php. För det kändes ändå rätt nytt och sättet man gjorde på i denna kursen var nått helt annat än innan bara så det var kul att verkligen känna att det var helt nya grejer.</p>
    <br>

    <h2 id="kmom03">Kmom03</h2>
    <p>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</p>
    <p>Jag tyckte det var väldigt svårt att utgå ifrån och skapa flödesdiagram och psuedokod. Jag vill helst bara komma igång direkt och bara köra på och lösa det därifrån. Så det ställde till det lite och gjorde bara att man veladen en hel del med detta sättet. För min del så ställde det mest bara till det skulle jag säga.</p>
    <br>

    <p>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</p>
    <p>Jag är ändå hyfsat så nöjd med uppgiften i kmom03. Känns som att jag fick ihop det okej ändå. Däremot finns det garanterat förbättringspotential i mina klasser tror jag och hur dom är gjorda. Men hur jag löste det var att jag behövde nya klasser för att kunna hantera spelet. Sedan hade jag sen innan andra klasser med korten osv. Jag hade även velat snygga till det lite om jag hade haft tiden för det, hade varit roligare om det sett lite roligare ut.</p>
    <br>

    <p>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</p>
    <p>Känslan såhär långt är att det är rätt svårt med allting som hör till. Inte bara detta med symfony utan även det med git och commit/tags och allting. Det är väldigt mycket med massa kommandon eller annat. Så det är nog mest det som ställer till det för mig. Men om man går till symfony tycker jag ändå det funkar bra och kommer bara mer och mer in i själva kodandet. Hittar bättre och förstår bara mer hur man ska gå till vägar så jag tycker absolut det går på rätt väg och jag känner att jag är med.</p>
    <br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom03 blir ändå sättet hur man ska göra med klasserna osv. För det känns svårt hur man ska göra med dom och på rätt sätt och på ett smidigt sätt. Men jag tror jag förstår mer och mer hur jag ska gå till vägar.</p>
    <br>

     <h2 id="kmom04">Kmom04</h2>
    <p>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.</p>
    <p>Jag upplver PHPUnit som ett kraftfullt verktyg som kan säkerställa kodens kvalitet genom dessa tester. Man kan ju testa och se så att koden gör det den är avsedd för och att den fungerar utefter det som den ska. Det ger bara en större trygghet och mer förtroende överlag.</p>
    <br>

    <p>Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?</p>
    <p>Efter en hel del ändringar och sökningar i mina test koder så fick jag ihop 100% i alla klasser som används till testerna. Svårt att förstå i början men man kom in i det tillslut och fattade vad som behövdes justeras eller läggas till.</p>
    <br>

    <p>Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?</p>
    <p>Jag skulle säga att min kod är relativt enkel att testa. Klasserna och metoder är uppdelade separat, vilket gör att testa olika delar av koden. En annan sak jag hade kunnat använda är gränssnitt. De är som mallar för hur saker ska fungera, och de gör det lättare att byta ut olika delar av koden, tillexempel olika typer av kortlekar eller regler i spelet.</p>
    <br>

    <p>Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.</p>
    <p>Jag försökte faktiskt hålla mig till min kod jag hade sedan innan och bara göra tester utifrån det. Så mycket förändring i min kod blev det inte utan jag kanske la till något smått eller ändrade något litet. Inget stort iallafall som jag kan nämna.</p>
    <br>

    <p>Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.</p>
    <p>Detta var något jag absolut tänkte. Jag tyckte det blev mycket snyggare och tydligare med allting när man använder sig av testbar kod. Lättare att förstå koden övelag helt klart och bara mycket mer snyggare struktuerat och allting så stort plus.</p>
    <br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom04 får ändå sägas är hela upplevelsen med hur PHPUnit fungerar och hur man kan använda sig av det. Vill även lägga till att jag tar med mig hur det kan underlätta att förstå kod och hitta lätt, med att verkligen beskiva klasser och metoder med doc.</p>
    <br>

    <h2 id="kmom05">Kmom05</h2>
    <p>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</p>
    <p>Tyckte det gick smidigit att följa med och gå igenom övningen ihop med Mikael som gick igenom en del. Nu var det ändå ett tag sedan man gjorde övningen men skulle inte säga att jag tänkte på nått speciellt.</p>

    <p>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet?</p>
    <p>Mitt främsta mål var ju då att implementera CRUD så som create, delete osv av det som används. Jag kände att jag hade tydlig visuell presentation och data. Böckerna var tydligt visade på sidan och det var lätt att navigera så man kunde ändra, radera, skapa ny eller visa informationen enskilt.</p>

    <p>Gick det bra att jobba med ORM i CRUD eller vad anser du om det, jämför gärna med andra sätt att jobba med databaser?</p>
    <p>Jag tycker det gick rätt bra att jobba med ORM i CRUD. Med hjälp utav vad man gjorde i övningen så underlättade det en del och man kom direkt in i det hela. Om man använder sig SQL skulle jag säga att det känns som det blir lite mer flexibilitet då man har full kontroll över frågorna. Det kan nog även bli lägre prestanda med ORM i CRUD. Men överlag gillade jag mycket att jobba på detta sätt.</p>

    <p>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?</p>
    <p>Skulle framförallt säga att produktiviteten ökar på detta sättet. Man kan snabbt och enkelt bygga om eller ändra databasmodeller på detta vis. Utan att behöva ändra om SQL frågor manuellt. Koden blir även mer läsbar på detta sättet i mitt tycke. Så överlag tycker jag det ger en bra balans på det hela med detta sätt.</p>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom05 är hur man kan jobba med PHP PDO och SQL direkt mot databasen. Även att jag gillade detta sättet att jobba på mycket och det var ett roligt kursmoment.</p>
    <br>

   <h2 id="kmom06">Kmom06</h2>
   <p>Hur uppfattade du verktyget phpmetrics och fann du några särskilda bitar mer värdefulla än andra? Var det några särskilda metrics eller bilder du uppskattade?</p>
   <p>Jo men jag uppfattade det ändå som ett användbart verktyg för att kunna analysera kodkvalitet. Speciellt när man kunde få fram diagram och grafer med som man kan använda sig av för att indentifiera komplexa delar i koden.</p>

   <p>Berätta hur det gick att integrera med Scrutinizer och vilken är din första känsla av verktyget och dess badges? Vilken kodtäckning och kodkvalitet fick du efter första bygget?</p>
   <p>Jag gillade de tydliga badgarna som gav en snabb blick över hur koden låg till. Fick även känslan av att analyserna var mer detaljerade här än i metrics. Däremot hade jag lite bekymmer med att få igång detta verktyget och bara överlag komma in på vad som var vad. Men jag förstod mer och mer tillslut.</p>

   <p>Hur är din egen syn på kodkvalitet, berätta lite om den? Tror du man kan man påvisa kodkvalitet i någon viss mån med badges eller vad tror du?</p>
   <p>Hög kodkvalite är mycket bra på det sättet att det underlättar att läsa av och även underhålla. Så på det sättet kan det spara tid sen när koden är klar. Men att själv hålla på och testa koden och få den till bra kvalite tyckte jag var väldigt jobbigt och ganska avancerat faktiskt. Med badges ger det en snabb visuell blick på olika sätt utav kodkvaliten. Det kan göra att den/dom som utvecklar kan använda det som motivation för att vilja hålla en hög standard.</p>

   <p>Vilken är din TIL för detta kmom?</p>
   <p>Mitt främsta TIL för detta kmom06 var framförallt att detta med test och att göra på detta sätt absolut inte var något som passade mig. Detta var nog det tuffaste kursmomentet hittills. Men överlag tar jag med mig lite hur man visuellt kan läsa av vad tester och så vidare pekar på och vad man kan ändra för att få till koden bättre.</p>

    <!-- Lägg till fler delar av sidan för andra kursmoment här -->

{% endblock %}