{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <h1>Report</h1>
    
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <!-- Lägg till fler länkar för andra kursmoment här -->
    </ul>
    
    <h2 id="kmom01">Kmom01</h2>
    <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
    <p>Jag kände att detta var helt nytt för mig och det är mycket filer och svårt att hänga med. Känner att detta kan ta lite tid att komma in och förstå det mesta i kursen. Men tillslut fick jag iallafall ordning på det och fick kämpa ihop det. Däremot var det svåraste med att komma igång det med github. Fattade inte hur man skulle göra med det riktigt men hoppas jag fick ihop det.</p><br>

    <p>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</p>
    <p>Först och främst så behöver man skapa en klass med hjälp av nyckelordet "class" och sedan då följt av klassens namn. Sedan då används måsvingar för att definiera dess metoder och egenskaper. Du kan skapa objekt med nyckelordet "new", då skapas en instans av klassen som man sedan kan använda i sin kod. Jag känner att det viktigaste är att man förstår hur man definierar egenskaper och metoder i klasser.</p><br>

    <p>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
    <p>Jag tyckte till en början det var väldigt väldigt rörigt med en massa filer. Det var svårt att hitta och svårt att veta vart man skulle ta vägen. Men efter ett tag kommer man in i det och börja förstå vad varje fil gör osv. Men som sagt till en början var det mycket att ta in.</p><br>

    <p>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
    <p>Det var mycket text men jag kollade främst på det första "Getting Started". Det kände ju jag självklart var viktigast då allt är helt nytt. Sedan fastnade jag lite smått på "Coding Practices" för att se om det var något vettigt att ta med sig och kolla på lite olika exempel. Där fanns en massa information om allt möjligt kändes det som för min del då det är nya grejer. Sådet är bra!</p><br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom01 får jag nästan säga är hur allt med git ska fungera. För det satt jag länge med för att få ihop och förstå. Men som jag skrev innan hoppas jag det lösta sig tillslut, fick iallafall fram det så som det skulle vara på mitt repo så det är bra!</p><br>


    <h2 id="kmom02">Kmom02</h2>
    <p>Text för kmom02...</p>
    <!-- Lägg till fler delar av sidan för andra kursmoment här -->

{% endblock %}