{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <h1>Report</h1>
    
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>

        <!-- Lägg till fler länkar för andra kursmoment här -->
    </ul>
    
    <h2 id="kmom01">Kmom01</h2>
    <p>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
    <p>Jag kände att detta var helt nytt för mig och det är mycket filer och svårt att hänga med. Känner att detta kan ta lite tid att komma in och förstå det mesta i kursen. Men tillslut fick jag iallafall ordning på det och fick kämpa ihop det. Däremot var det svåraste med att komma igång det med github. Fattade inte hur man skulle göra med det riktigt men hoppas jag fick ihop det.</p><br>

    <p>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</p>
    <p>Först och främst så behöver man skapa en klass med hjälp av nyckelordet "class" och sedan då följt av klassens namn. Sedan då används måsvingar för att definiera dess metoder och egenskaper. Du kan skapa objekt med nyckelordet "new", då skapas en instans av klassen som man sedan kan använda i sin kod. Jag känner att det viktigaste är att man förstår hur man definierar egenskaper och metoder i klasser.</p><br>

    <p>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
    <p>Jag tyckte till en början det var väldigt väldigt rörigt med en massa filer. Det var svårt att hitta och svårt att veta vart man skulle ta vägen. Men efter ett tag kommer man in i det och börja förstå vad varje fil gör osv. Men som sagt till en början var det mycket att ta in.</p><br>

    <p>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
    <p>Det var mycket text men jag kollade främst på det första "Getting Started". Det kände ju jag självklart var viktigast då allt är helt nytt. Sedan fastnade jag lite smått på "Coding Practices" för att se om det var något vettigt att ta med sig och kolla på lite olika exempel. Där fanns en massa information om allt möjligt kändes det som för min del då det är nya grejer. Så det är bra!</p><br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom01 får jag nästan säga är hur allt med git ska fungera. För det satt jag länge med för att få ihop och förstå. Men som jag skrev innan hoppas jag det lösta sig tillslut, fick iallafall fram det så som det skulle vara på mitt repo så det är bra!</p><br>


    <h2 id="kmom02">Kmom02</h2>
    <p>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</p>
    <p>Om man börjar med arv så tillåter det en klass att ärva metoder från en annan klass för att skapa hierarki kan man säga. Sedan komposition är när man bygger om större klasser med hjälp av att kombinera ihop mindre klasser. Sedan interface bestämmer en uppsättning metoder som då måste implementeras av en klass. Med trait så tillåter man återanvänding av kod genom på det sättet att man inkluderar en samling med flera metoder i olika slags klasser. Hur detta då används är att arv med "extends", interface med "interface", trait med "use" och till sist komposition genom att skapa instanser av andra klasser.</p>
    <br>

    <p>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</p>
    <p>Jag är överlag nöjd med hur jag fick ihop min uppgift med kortleken osv. Jag löste uppgiften med att utgå utifrån övningsuppgiften som vi gjorde och där efter kollade jag utifrån den koden och ändrade och såg vad som behövde ändras och läggas till. Som förbättringspotential så hade man kunnat struktuera upp klasserna ännu mer och göra det snyggare på det sättet helt klart. Men med själva resultatet är jag ändå nöjd med och kändes som att jag fick ut det jag ville av uppgiften.</p>

    <br>
    <p>Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</p>
    <p>Överlag tycker jag det är väldigt mycket och rörigt med allt ifrån filer och kod till kommandon i terminalen och git. Så det är väldigt mycket tycker jag bara. Man får gå tillbaka och kolla igen flera gånger innan man får iordning på grejer. Men jag tycker att kursen är väldigt intressant hittills och kul att kombinera ihop många programmeringsspråk och jobba med det ihop. Men det har krävts mycke tid och förståelse för och ta sig framåt som man kanske då märkt. Men jag fortsätter köra på och ger mig på kmom03!</p>

    <br>
    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom02 får bli hur man jobbar med klasser osv i php. För det kändes ändå rätt nytt och sättet man gjorde på i denna kursen var nått helt annat än innan bara så det var kul att verkligen känna att det var helt nya grejer.</p>
    <br>

    <h2 id="kmom03">Kmom03</h2>
    <p>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</p>
    <p>Jag tyckte det var väldigt svårt att utgå ifrån och skapa flödesdiagram och psuedokod. Jag vill helst bara komma igång direkt och bara köra på och lösa det därifrån. Så det ställde till det lite och gjorde bara att man veladen en hel del med detta sättet. För min del så ställde det mest bara till det skulle jag säga.</p>
    <br>

    <p>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</p>
    <p>Jag är ändå hyfsat så nöjd med uppgiften i kmom03. Känns som att jag fick ihop det okej ändå. Däremot finns det garanterat förbättringspotential i mina klasser tror jag och hur dom är gjorda. Men hur jag löste det var att jag behövde nya klasser för att kunna hantera spelet. Sedan hade jag sen innan andra klasser med korten osv. Jag hade även velat snygga till det lite om jag hade haft tiden för det, hade varit roligare om det sett lite roligare ut.</p>
    <br>

    <p>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</p>
    <p>Känslan såhär långt är att det är rätt svårt med allting som hör till. Inte bara detta med symfony utan även det med git och commit/tags och allting. Det är väldigt mycket med massa kommandon eller annat. Så det är nog mest det som ställer till det för mig. Men om man går till symfony tycker jag ändå det funkar bra och kommer bara mer och mer in i själva kodandet. Hittar bättre och förstår bara mer hur man ska gå till vägar så jag tycker absolut det går på rätt väg och jag känner att jag är med.</p>
    <br>

    <p>Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för detta kmom03 blir ändå sättet hur man ska göra med klasserna osv. För det känns svårt hur man ska göra med dom och på rätt sätt och på ett smidigt sätt. Men jag tror jag förstår mer och mer hur jag ska gå till vägar.</p>
    <br>


    <!-- Lägg till fler delar av sidan för andra kursmoment här -->

{% endblock %}